:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --theme-background-ultralight: #effaff;
  --theme-background-light: #e5eaf5;
  --theme-background-normal: #a0d2eb;
  --theme-color-light: #d0dbf4;
  --theme-color-normal: #8458b3;
  --theme-color-dark: #494d5f;
  --theme-border-radius-smooth: 10px;
  --theme-background-modal-overlay: rgba(0, 0, 0, 0.5);
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

#root {
  max-width: 1024px;
  margin: auto;
  padding: 0 10px;
}
